{% extends "Anotacoes/modelo.html" %}
{% load static %}
{% load bootstrap3 %}



{% block content %}
<div class="container">
    <div class="page-header">
        <h2>Excluir anotação:</h2>
    </div>
    
    <div class="panel panel-danger">
        <p>Deseja excluir a anotação "<strong>{{ notation.text|slice:":50" }}{% if notation.text|length > 50 %}...{% endif %}</strong>"?</p>
        <hr>
        <form action="{% url 'delete_notation' notation.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">excluir</button>
            <a href="{% url 'task' task.id %}" class="btn btn-default">Cancelar</a>
        </form>
    </div>
</div>
{% endblock content %}
