{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplicação para anotações.">
    <meta name="Keywords" content="anotações, anotação">
    <title>Anotação</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" 
                    class="navbar-toggle collapsed" 
                    data-toggle="collapse" 
                    data-target="#navbar" 
                    aria-expanded="false">
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Anotação</a>
            </div>
            
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="nav-link" href="{% url 'tasks' %}">Tarefas</a></li>
                    <li><a class="nav-link" href="{% url 'my_day' %}">Meu dia</a></li>
                    <li><a class="nav-link" href="{% url 'tasks_important' %}">Importante</a>
                    </li>
                    <li><a class="nav-link" href="{% url 'tasks_completed' %}">Concluídas</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a class="nav-link">Olá, {{ user.username }}</a></li>
                        <li><a class="nav-link" href="{% url 'logout' %}">Sair</a></li>
                    {% else %}
                        <li><a class="nav-link" href="{% url 'register' %}">Cadastrar</a></li>
                        <li><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class= "page-header">{% block header%} {% endblock header %}</div> 
        <div>{% block content %} {% endblock content %}</div>
    </div>
</body>
</html>
