{% extends "Anotacoes/modelo.html" %}
{% load static %}
{% load bootstrap3 %}


{% block content %}
<div class="container">
    <div class="page-header">
        <h2>Restaurar tarefa:</h2>
    </div>

    <div class="panel panel-danger">
        <p>Deseja restaurar a tarefa "<strong>{{ task }}</strong>"?</p>
        <hr>
        <form action="{% url 'restore_task' task.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm">Sim</button>
            <a href="{% url 'tasks_important' %}" class="btn btn-default">Cancelar</a>
        </form>
    </div>
</div>
{% endblock content %}
